:root {
    --main-green_color: #97B498;
    --main-green_color_darker: #acbdac;
    --main-green_color_light: #E6FCE6;
    --navbar-white_color: #FBFFFC;
    --navbar-href-white_color: #F2F2F2;
    --delivery-background_color: #DDDDDD;
    --params-panel__slide-btn_color: #E2E2E2;
    --cuisines-panel__slide_color: #F2F2F2;
    --profile-link-hover_color_darker: #616161;
    --red_color: #F48989;
    --grey_color: #C4C4C4;
    --light-grey_color: #F2F2F2;
    --white_color: #FFFFFF;
    --error_color: red;
    --background_color: rgba(50, 50, 50, 0.7);
    --chat-back_color: #effddf;
    --chat-border_color: #C7E6BE;
}